<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="/static/css/alerts.css">
    <link rel="stylesheet" href="/static/css/nav.css">
    {% block heads %}
        
    {% endblock heads %}

    <style>
        body{
            margin: 0%;
            padding: 0%;
            font-family: Arial, sans-serif;
        }  
        </style>
    <link rel="stylesheet" href="/static/css/save_and_share.css">
    <link rel="stylesheet" href="/static/css/open.css">
    <script src="/static/js/saveDialog.js"></script>
    <script src="/static/js/save.js"></script>
    <script src="/static/js/shareDialog.js"></script>
    <script src="/static/js/share.js"></script>


</head>
<body>
    {% csrf_token %} 

    <header>
        <nav>
            <div>
                {% if request.user.is_authenticated %}
                    <a href="/logout/" class="logout-button">Logout</a>
                {% else %}
                    <a href="/login/" class="login-button">Login</a>
                {% endif %}


                <a href="/">New</a>
                {% if request.user.is_authenticated %}
                    
                <a href="/profile/">Profile</a>
                <a href="#save-dialog" onclick="show_save_dialog('{{ opened_note.title }}', '{{ opened_note.id }}')">Save</a>
                <a href="/show-notes">Open</a>
                <a href="#" onclick="showsharedialog('{{ opened_note.id }}')">Share</a>
                
                {% endif %}
                <button id = "darkmodebtn" onclick="darkmode()"><img width="25" height="25" src="https://img.icons8.com/pulsar-color/50/do-not-disturb-2.png" alt="do-not-disturb-2"/></button>
            </div>
        </nav>
    </header>

    {% if message %}
        
    <div class="alert {{ message_type }}-alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
    </div>
    
    {% endif %}

    {% block content %}
        
    {% endblock content %}
    
</body>
</html>