{% extends 'base.html' %}

{% block heads %}
    <style>
        #editor{
            padding: 0;
            width: 100%;
            height: 100vh;
            border: 1px solid #ccc; 
            padding: 10px; 
            resize: vertical; 
        }
    </style>
{% endblock heads %}

{% block content %}
    <form action="">
        <textarea type="text" name="content" id="editor"></textarea>
    </form>

    <script>
        let BACKGROUND_COLOR = '#f8f8f8';
        let DARKMODE_BACKGROUND_COLOR = '#121231';
        let TEXT_COLOR = '#000000';
        let FONT_SIZE = '14px';
        let FONT_FAMILY = 'monospace';

        let editor = document.getElementById('editor');
        editor.style.backgroundColor = BACKGROUND_COLOR;
        editor.style.color = TEXT_COLOR;
        editor.style.fontSize = FONT_SIZE;
        editor.style.fontFamily = FONT_FAMILY;

        let editorContent = localStorage.getItem('editorContent');
        if(editorContent){
            editor.value = editorContent;
        }

        editor.addEventListener('input', function(){
            localStorage.setItem('editorContent', editor.value);
        });

        function darkmode(){
            if(getColor().toLowerCase() === BACKGROUND_COLOR.toLowerCase()){
                editor.style.backgroundColor = DARKMODE_BACKGROUND_COLOR;
                editor.style.color = '#f8f8f8';
            }else{
                editor.style.backgroundColor = BACKGROUND_COLOR;
                editor.style.color = TEXT_COLOR;
            }
        }

        function getColor(){
            let color = editor.style.backgroundColor;

            color = color.replace('rgb(', '').replace(')', '').split(',');
            color = color.map(function(value){
                return parseInt(value);
            });
            
            color = color.map(function(value){
                return decimal2hex(value);
            });

            color = '#' + color.join('');
            return color;
        }

        function decimal2hex(d) {
            return d.toString(16).padStart(2, "0").toUpperCase();
        }


    </script>
{% endblock content %}