{% extends 'base.html' %}
    
    {% block heads %}
    <style>
        .login-form{
            display: flex;
            flex-direction: column;
            width: 40%;
            margin-left: 35vw;
            margin-top: 37vh;
        }

        .mb-2{
            margin-bottom: 1vh;
        }

        .form-login-button{
            color: blue;
            border: 2px solid blue;
            cursor: pointer;
            border-radius: 2%;
        }

        .form-login-button:hover{
            background-color: blue;
            color: whitesmoke;
        }

    </style>
    {% endblock heads %}
    
    {% block content %}

    <form action="/login/" method="post" class = "login-form">
        {% csrf_token %}    
        <input type="text" name="username" placeholder="Username" class="mb-2" required>
        <input type="password" name="password" placeholder="Password" class="mb-2" required>
        <input type="submit" value="Login" class="mb-2 form-login-button">
        <a href="/register" class="mb-2">Signup Insteed</a>
    </form>

    {% endblock content %}