.alert {
    padding: 20px;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.6s; /* 600ms to fade out */
    z-index: 9999; /* Ensure it appears above other elements */
    position: fixed; /* Fixed position to stay in view while scrolling */
  }

.success-alert {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    width: 300px; /* Set a fixed width for the alert box */
    left: 50%; /* Center the alert box horizontally */
    transform: translateX(-50%); /* Adjust for the width of the alert box */
}

.error-alert {
    background-color: #d41f12; /* Red */
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    width: 300px; /* Set a fixed width for the alert box */
    left: 50%; /* Center the alert box horizontally */
    transform: translateX(-50%); /* Adjust for the width of the alert box */
}

.info-alert {
    background-color: #2196F3; /* Blue */
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    width: 300px; /* Set a fixed width for the alert box */
    left: 50%; /* Center the alert box horizontally */
    transform: translateX(-50%); /* Adjust for the width of the alert box */
}

.warning-alert {
    background-color: #e8f31b; /* Orange */
    color: white;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    width: 300px; /* Set a fixed width for the alert box */
    left: 50%; /* Center the alert box horizontally */
    transform: translateX(-50%); /* Adjust for the width of the alert box */
}


.alert .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
 .alert .closebtn:hover {
    color: black;
  }